.paginator {
    margin: 4em 0;
    text-align: center;
    height: 34px;
    .prev, .next {
        display: inline-block;
        margin: 0 4px;
        padding: 4px 12px;
        border-radius: 4px;
        border-bottom: 4px solid #3aa373;
        font-size: 14px;
        color: #fff;
        background-color: #4fc08d;
        &:hover {
            background-color: #22bd77;
        }
    }
    .prev-text, .next-text {
        font-size: 14px;
        line-height: 30px;
        display: inline-block;
        color: #42b983;
        &:hover {
            color: #3aa373;
        }
    }
    .prev-link {
        float: left;
    }
    .prev-text {
        margin-left: 10px;
    }
    .next-link {
        float: right;
    }
    .next-text {
        margin-right: 10px;
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}